:root { 
    scroll-behavior: smooth;
    background-color: #EDF2F4;
}


/* ---------- Navbar ---------- */
.navbar { 
    width: 100vw;
    height: 4rem;
    max-width: 100vw;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding: 0 50px;
    z-index: 100;
    display: flex;
    justify-content: center;
}
.navbar--container { 
    width: min(100vw, 1200px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar div, .navbar div h3, .navbar div p { 
    height: 4rem;
    line-height: 4rem;
    padding: 0;
    margin: 0;
    cursor: pointer;
    user-select: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar div p:active { 
    transform: scale(0.9)
}


/* ---------- Fonts ---------- */

@font-face {
    font-family: 'RockSalt-Regular';
    src: local('RockSalt-Regular'), url(../toolsAndStuff/fonts/RockSalt-Regular.ttf) format('truetype');
}


/* ---------- MainPage ---------- */

.mainPage { 
    width: 100vw;
    min-width: 250px;
    height: fit-content;
    min-height: 100vh;
    padding: 0;
    padding-top: 10rem;
    /* padding-bottom: 5rem; */
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}

.mainPage--Hooks { 
    width: 770px;
    max-width: min(1200px, 100vw);
    height: fit-content;
    min-height: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    color: #2B2D42;
}

hr { 
    width: 85%;
    max-width: min(1200px, 100vw);
}
.workshopBox { 
    width: 230px;
    min-width: 230px;
    height: 230px;
    margin: 10px;
    border-radius: 50px;
    background: #EDF2F4;
    box-shadow:  7px 7px 14px #bababa,
                 -7px -7px 14px #EDF2F4;
}
.workshopBox h4 {
    line-height: 230px;
    padding: 0;
    margin: 0;
    font-family: 'RockSalt-Regular';
    color: #2B2D42;
    font-size: 1.8rem;
    transform: rotate(-5deg);
    user-select: none;
}

.workshopBox:active { 
    border-radius: 50px;
    background: #EDF2F4;
    box-shadow: inset 7px 7px 14px #bababa,
                inset -7px -7px 14px #EDF2F4;
}
.workshopBox:active h4 { 
    font-size: 1.7rem;
}


/* ---------- Devider ---------- */

.deviderOne { 
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
    height: 300px;
    background-size: cover;
    background-image: URL('../assets/images/deviderOne.svg');
    background-position: center;

}

/* ---------- Javascript ---------- */
.projectsamples { 
    height: fit-content;
    background-color: #2B2D42;
}

.projectsamples h1 { 
    margin: 0 auto 20px;
    padding: 0;
    color: #EDF2F4;
}

.mainPage--Javascript { 
    width: 770px;
    max-width: min(1200px, 100vw);
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.jsBox { 
    width: 230px;
    min-width: 230px;
    height: 230px;
    margin: 10px;
    border-radius: 50px;
    background: linear-gradient(145deg, #27293b, #2e3047);
    box-shadow:  7px 7px 16px #191a26,
                 -7px -7px 16px #3d405e;
}
.jsBox h4 {
    line-height: 230px;
    padding: 0;
    margin: 0;
    font-family: 'RockSalt-Regular';
    color: #EDF2F4;
    font-size: 1.8rem;
    transform: rotate(-5deg);
    user-select: none;
}

.jsBox:active { 
    border-radius: 50px;
    background: #2B2D42;
    box-shadow: inset 7px 7px 16px #191a26,
                inset -7px -7px 16px #3d405e;
}
.jsBox:active h4 { 
    font-size: 1.7rem;
}