
.useStateHookFull { 
    max-width: 1200px;
    margin: 6rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.UseStateHook { 
    width: 47%;
    min-width: 400px;
    height: 100%;
    /* border: 1px solid red; */
}
.UseStateHookExercise { 
    width: 47%;
    min-width: 400px;
    height: 100%;
    /* border: 1px solid blue; */
}


.todo--container form input { 
    height: 2rem;
    width: 300px;
    margin: 5px;
    border-radius: 5px;
    padding: 5px 12px;
}
.submitBtnRed { 
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: rgb(247, 74, 74);
    color: white;
    border-radius: 50%;
    font-weight: 600;
}

.todos { 
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 20px auto 30px;
}
.todoboxEach { 
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    padding-left:12px;
}
.todoboxEach--buttons--gray, .todoboxEach--buttons--green  {
    border-radius: 10px;
    width: 5rem;
    height: 3rem;
    margin: 0.1rem;
    border: none;
    color: white;
    font-weight: 600;
}
.todoboxEach--buttons--gray { 
    background-color: #bbb;
}

.todoboxEach--buttons--green { 
    background-color: #2ba20b;
}
.todoboxEach--buttons--delete { 
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color:rgb(247, 74, 74);
    color: white;
    border: none;
    transform: translateX(12px);
}






/* ------------------------------------------------------ */
.useState--container { 
    margin: 200px auto 0;
    border: 1px solid red;
    width: 700px;
    height: 300px;
}