

.board-container { 
    width: 740px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.box--box { 
    width: 150px;
    height: 150px;
    /* border: 1px solid gray; */

    box-sizing: border-box;
    /* padding-top: 60px; */
    border-radius: 50px;
    background: #EDF2F4;
    box-shadow:  12px 12px 19px #b6babc,
                -12px -12px 19px #ffffff;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.box--box:active { 
    border-radius: 50px;
background: #EDF2F4;
box-shadow: inset 12px 12px 19px #b6babc,
            inset -12px -12px 19px #ffffff;
}